$font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size: 17px;
$font-color: #333;

/**
 * Header
 */

$header-bg-color: #776dc0; // purple
$header-bg-color: #d7625f; // ligh red/pink
$header-bg-color: #d24e4b; // darker red
$header-bg-color: #673a39; // dark brown
$header-bg-color: #42565E; // blue gray
$header-bg-color: #874c46; // normal brown
$header-bg-color: #7E9096; // blue gray light.
$header-bg-color: #B58777; // light brown.

$header-border-light: #cc9987;
$header-border-dark: #a37a6b;

$version-link-fg: #333;

//$header-border-light: #9d5952;
//$header-border-dark: #6a3c38;

$header-download-border: #5fd7cd;
$header-download-border-hover: #9c66ff;

$header-fg-color: #fff;

/**
 * Code
 */

$code-font-size: 16px;
$code-font-family: Menlo, Monaco, "Courier New", monospace;

@import "elements";
@import "body";
@import "header";
@import "code";
@import "changelog";
@import "download";
@import "docs";