.content {
  font-family: "PT Serif", Georgia;
  margin: 40px auto;
  width: 60%;
  font-size: 16px;
  max-width: 28rem;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  hr {
    width: 60%;
    margin: 1em auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0;
    margin-bottom: 2em;
  }
}


@media (min-width: 56rem) {
  .content {
    max-width: 38rem;
  }
}

@media (min-width: 38rem) {
  .content {
    max-width: 32rem;
  }
}