.content {
  font-family: "Open Sans", "Helvetica Neue", Georgia;
  margin: 90px auto;
  width: 60%;
  font-size: 16px;
  max-width: 28rem;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  hr {
    width: 60%;
    margin: 1em auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0;
    margin-bottom: 2em;
  }

  .block {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    p {
      line-height: 1.7;
    }
  }

  .backing {
    height: 70px;
    text-align: center;
    color: #333;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    margin: 12px 0;
    margin-bottom: 20px;

    span {
      position: relative;
      top: -19px;
      font-family: "Helvetica Neue";
    }

    a {
      display: inline-block;
      line-height: 70px;
    }
  }
}


@media (min-width: 56rem) {
  .content {
    max-width: 38rem;
  }
}

@media (min-width: 38rem) {
  .content {
    max-width: 32rem;
  }
}