header .download button {
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  padding: 12px 30px;
  margin: 20px 0;
  border-bottom: 2px solid $header-download-border;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  &:hover {
    border-color: $header-download-border-hover;
  }
}