header {
  min-width: 680px;
  position: relative;
  width: 100%;
  max-height: 380px;

  background: $header-bg-color;
  color: $header-fg-color;
  text-align: center;
  border-bottom: 2px solid $header-border-dark;
  padding-bottom: 10px;
}

header .top {
  border-bottom: 1px dashed $header-border-light;
  padding-bottom: 15px;

  h1 {
    display: inline-block;
    position: relative;
    top: 15px;
    font-size: 35px;
    //text-shadow: 1px 0px #333;
    padding-bottom: 4px;
  }

  h1 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 1px #846054;
  }

  h1 span.fn {
    font-family: "Source Code Pro", sans-serif;
  }
}

header .tag {


  h2 {
    margin-top: 40px;
    font-size: 19px; // For Helvetica Neue
    font-family: "Open Sans";
    text-shadow: 0px 1px #846054;
    font-weight: 400;
  }

  .snippet {
    margin: 30px 0px;
    display: inline-block;
  }

}

header .code {
  width: 600px;
  margin: 30px auto;
  position: relative;

  .banner {
    top: -20px;
  }
}



header .version a {
  display: block;
  text-align: center;
  color: $version-link-fg;
  font-size: 15px;
  position: relative;
  top: -8px;
}

header nav {
  padding-left: 0px;
  position: absolute;
  right: 10px;
  float: right;
  height: 50px;
  top: 8px;
  line-height: 0px;
  margin-right: 20px;
}

header nav li {
  position: relative;
  top: -5px;
  list-style: none;
  margin-right: 10px;
  display: inline-block;
  padding: 20px 15px;
  border-radius: 5px;

  a {
    color: #eee;
    font-family: "Helvetica", Georgia;
    text-decoration: none;
    text-shadow: 0px 1px #846054;
  }

  &:hover {
    background-color: #333;
  }
}

header .version-dropdown {
  position: absolute;
  left: 20px;
  top: 20px;

  span.type {
    color: #ddc3ba;
  }

  span.value {
    display: inline-block;
    background: #e2a18a;
    padding: 5px 20px;
    position: relative;
    left: 10px;
    color: #eee;
    cursor: pointer;
  }

  span.value i {
    position: relative;
    left: 10px;
  }

  .dropdown {
    display: none;
    position: absolute;
    width: 93px;
    min-height: 50px;
    background: #e2a18a;
    left: 68px;
    top: 35px;
  }

  .dropdown ul {
    margin: 0px;
    padding: 0px;
  }

  .dropdown ul li {
    margin: 10px 0;
    width: 100%;
    list-style: none;
    display: block;
    text-align: center;
    cursor: pointer;
  }
}
