<!DOCTYPE html>
<html>
<head>
  <title>The Rust Programming Language</title>
  <script type="text/javascript" src="//use.typekit.net/bww1exk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--<link href='http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="/public/css/normalize.css" />
  <link rel="stylesheet" href="/public/css/app.css" />

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

</head>
<body>
  <div class="wrapper">
    <header>
      <section class="top">
        <nav>
          <ul>
            <li class="docs"><a href="#">Docs</a></li>
            <li class="tutorial"><a href="#">Tutorial</a></li>
            <li class="github"><a href="#">Github</a></li>
          </ul>
        </nav>
        <h1>Rust</h1>
      </section>
      <section class="tag">
        <h2>A safe, concurrent, practical programming language.</h2>
      </section>
      <section class="download">
        <button class="download-button">
          Download For
        </button>
      </section>
      <section class="version">
        v0.9.0
      </section>
    </header>
    <section class="content">
{{#markdown}}
# Introduction
---

```rust
  fn main() {
    println("Hello World");
  }
```
{{/markdown}}

      {{{body}}}
    </section>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>